@using RazorConsole.Components

@page "/display"

<Columns>
    <Rows>
        <h1>CLIW report</h1>
    </Rows>
    <Rows>
        Your location: {location}
    </Rows>
    <Rows></Rows>
    
    
</Columns>

@code {
    
}
